<?xml version="1.0" encoding="utf-8" ?>
<root>
  <ConfigInt>
  
  </ConfigInt>
  <ConfigString>
    <BotToken value="MzU3MjA5MzQ3NDk3MDAwOTYw.DJnTnQ.bzGhzdRbcGUHqFN682n59syT9EY"/>
    <Game value="League of Bots"/>
    <Prefix value="!lol"/>
    <!--<Link val ue="https://discordapp.com/oauth2/authorize?client_id=357209347497000960&scope=bot"/>-->
    <ClientID value="357209347497000960"/>
    <BotAuthor value="Frederikja163#5990"/>   

    <LeagueDB value="LeagueBot.db"/>
    <UserCol value="Players"/>
  </ConfigString>
</root>